.title h3{
    font-size: medium;
    margin-left: 10px;
    margin-bottom: 1rem;
    font-style: italic;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.title{
    margin-left: 10px;
    border-left: solid #0c6bcc 4px;
}

.title:hover{
    border-left: solid #0c6bcc 6px;
}