.daySummaryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
}

.daySummaryContainerAtNight{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    background-color: black;
}

.conditions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
}

.daySummaryContainer img {
    width: 6rem;
    height: 6rem;
    padding: 0;
    margin: 0;
}

.conditions p {
    margin: 2px 0px;
    font-weight: bold;
}

.conditions span {
    font-weight: 100;
    color: white;
    margin-left: 10px;
    font-weight: bold;
}

.daySummaryContainer h2 {
    color: white;
    font-size: 3rem;
    margin-top: 0;
    padding-top: 0;
}